= provide(:title,'Sign Up') 
%h1 Sign Up
%div{ class: "row" }
  %div{ class: ["span6","offset3"] }
    = form_for @user do |f|
      = render 'shared/error_messages'

      = f.label :nickname
      = f.text_field :nickname, class: "user"

      = f.label :common_name
      = f.text_field :common_name, class: "capitalize user"


      = f.label :first_name
      = f.text_field :first_name, class: "capitalize user"


      = f.label :last_name
      = f.text_field :last_name, class: "capitalize user"

      - if @ex_message.present?
        %div{class: "field_with_errors"}
          = f.label :email
          = f.text_field :email, class: "user"
      - else  
        = f.label :email
        = f.text_field :email, class: "user"

      = f.label :password
      = f.password_field :password, class: "user"

      = f.label :password_confirmation, "Confirmation"
      = f.password_field :password_confirmation, class: "user"
      %br
      %br
      = f.submit "Create my account", class: "btn btn-large btn-primary"
