%header{ class: ["navbar","navbar-fixed-top"] }
  %div{ class: ["navbar-inner"] }
    %div{ class:  ["container"] }
      %a{ href: '#', id: 'logo' } Sample App
      %nav
        %ul{ class: "nav pull-right"}
          %li
            = link_to "Home", root_path
          %li
            = link_to "Help", help_path
          - if sign_in?
            %li
            %li{ id: "fat-menu", class: "dropdown" }
              %a{ href: '#', class: "dropdown-toggle", "data-toggle" => "dropdown" }
                User Account
              %ul{ class: "dropdown-menu" }
                %li
                  = link_to "Profile", current_user
                  = link_to "Settings", edit_user_path(current_user)
                %li{ class: "divider"}
                %li
                  = link_to "Sign out", signout_path
            - else
              %li
                = link_to "Sign In", signin_path

