!!! strict
%html
  %head
    %title 
      = full_title(yield(:title))
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header{ class: ["navbar","navbar-fixed-top"] }
      %div{ class: ["navbar-inner"] }
        %div{ class:  ["container"] }
          %a{ href: '#', id: 'logo' }
          %nav
            %ul{ class: "nav pull-right"}
              %li
                %a{ href: '#', id: '' } Home
              %li
                %a{ href: '#', id: '' } Help
              %li
                %a{ href: '#', id: '' } Sign In
    %div{ class: ["container"] }
      = yield
 
